.UpperNB {
  position: fixed;
  background-color: #262626;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 0;

  border-bottom: 0.1rem solid;
  border-image: linear-gradient(to right, #ff0032, #58287f) 1;
  z-index: 100;
}

#logo {
  width: 10%;
  max-height: 40px;
  max-width: 128px;
  min-width: 8rem;
  position: relative;
  left: 1.3vh;
}

#search {
  height: 2rem;
  width: 25vw;
  background-image: url("../../../assets/icons/search.svg");
  color: black;
  font-size: 3vh;
  background-color: rgba(150, 150, 150, 0.3);
  border-radius: 30px;
  border: none;
  background-size: 1.3rem;
  background-repeat: no-repeat;
  background-position: left center;
  background-position-x: 0.4rem;
}

#search::placeholder {
  position: relative;
  left: 2rem;
  bottom: 0.1rem;
  font-size: 1rem;
  margin: auto 0;
}

.UpperNBIcons {
  display: flex;

  /* position: relative; */
  /* right: 5vh; */
  margin-right: 1.5rem;
  width: 15%;
  min-width: 170px;
  max-width: 230px;
  justify-content: space-around;
  align-items: center;
  /* width: 10vw; */
}

.icon {
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
}

.Myprofilepic {
  height: 2.8rem;
  width: 2.8rem;
  border-radius: 50% 50%;
  cursor:pointer;
}
