
.feed{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  min-width: 300px;
  margin-inline: auto;
}


.Tweet{

  margin-bottom: 2rem;
  background-color: #272626;
  padding: 2rem;
  border-radius: 10px;
  width:100%;
  min-width: 300px;
  color: white;
}

/* the styling of the user and the community that it belongs to */

.communitygroup {
  display: flex;
  font-size: 1rem;
  align-items: center;
  gap: 0.4rem;
}

.communitygroup img {
  width: 3rem;
  border-radius: 50% 50%;
  margin-left: 1;
}

.communitygroup h4 {
  font-weight: 600;
}

.userProfile {
  display: flex;
  align-items: center;
  gap: 0.1rem;
  color: #bababa;
  position: relative;
  bottom: 1rem;
  left: 2rem;
  font-size:.6rem ;
}
.userProfile img {
  width: 1rem;
  border-radius: 50% 50%;
}

.userProfile{
  font-weight: 400;
}


/* the styling of the pic Style post */


.pic {
  margin: 0 auto;
  margin-bottom: 2rem;
  background-color: #272626;
  padding: 2rem;
  border-radius: 10px;
  width: 100%;
  min-width: 300px;
  color: white;
}


hr{
  margin: .9rem 0 1rem 0;
  border: none;
  height: 2px;
  background-color: #6B6B6B;
}
.caption{
  font-size: 1.3rem;
  margin: 0 0 1rem 0 ;
}

.intract{
  display: flex;
  /* gap:20%; */
  justify-content: space-between;
  /* align-items: center; */
  width: 90%;
  margin-inline: auto;
}

.intract__item{
  display: flex;

  gap: .6rem;
}