.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* this is the part of the styling of the upper part of the main feed of where the user can post their stuff */


/* this is the styling of the feed */
 




