.parameters {
  background-color: #202020;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 1rem;
  top: 21rem;
  font-size: 1rem;
  flex-direction: column;
  overflow: scroll;

  width: 30%;
  min-width: 225px;
  max-width: 300px;
  height: 300px;
  min-height:290px ;
  border-radius: 10px;
  z-index: 1;
  
}

.parameters::-webkit-scrollbar {
  width: 0;
}

.parameter {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 2rem;
  flex-wrap: nowrap;
  margin: 0.8rem 0;
  font-size: 1rem;
  color: white;
  width: 90%;
}

.parameter h3{
  font-weight: 500;
}

.parameter:nth-child(1) h3 {
  margin-left: 0.2rem;
}

.parameter:nth-child(4) img {
  margin-left: 0.2rem;
}

.parameter:nth-child(5){
  cursor: pointer;
}

.parameter:nth-child(5) img {
  margin-left: -0.2rem;
  
}
